<p>{{{salutation}}}</p>
<p>{{{body}}}</p>
<p></p>
<p>Thank You!</p>
<br>Your LOCK Team</br>
<p></p>
<p><img src='https://lock.space/wp-content/uploads/2022/07/lock-logo@2x.png' height='88px' width='313px' /></p>
<p>{{date}} LOCK.space</p>
